### Часть вторая: Анализ файлов

In [4]:
import pandas as pd

 #### Прочитайте файл 2017_jun_final.csv с помощью метода read_csv

In [5]:
data = pd.read_csv("2017_jun_final.csv")
print(data)

         N                 Должность Язык.программирования Специализация  \
0        1        Junior QA engineer                   NaN     Manual QA
1        2        Junior QA engineer                   NaN     Manual QA
2        3         Software Engineer               C#/.NET           NaN
3        4         Software Engineer            JavaScript           NaN
4        5  Senior Software Engineer            JavaScript           NaN
...    ...                       ...                   ...           ...
8699  8700               QA engineer                   NaN     Manual QA
8700  8701                 Marketing                   NaN           NaN
8701  8702  Junior Software Engineer            Ruby/Rails           NaN
8702  8703                 Team lead                   NaN           NaN
8703  8704  Senior Software Engineer                  Java           NaN

     Общий.опыт.работы Опыт.работы.на.текущем.месте  Зарплата.в.месяц  \
0                  0.5                          0.5               400
1     меньше 3 месяцев             меньше 3 месяцев               430
2                    4                            1              2500
3                    5                            4              2000
4       10 и более лет                          0.5              4500
...                ...                          ...               ...
8699                 1             меньше 3 месяцев               700
8700               0.5                          0.5               400
8701                 1                          0.5               800
8702                 6                            4              2600
8703                 7                            2              5000

      Изменение.зарплаты.за.12.месяцев    Город     Размер.компании  ...  \
0                                    0  Харьков       до 10 человек  ...
1                                  130  Харьков  свыше 1000 человек  ...
2                                  800     Киев     до 1000 человек  ...
3                                  400   Одесса      до 200 человек  ...
4                                  500   Другой       до 10 человек  ...
...                                ...      ...                 ...  ...
8699                               700   Одесса       до 50 человек  ...
8700                               120     Киев       до 50 человек  ...
8701                               500    Львов       до 10 человек  ...
8702                                 0    Днепр  свыше 1000 человек  ...
8703                               800   Одесса     до 1000 человек  ...

     Еще.студент Уровень.английского                    Предметная.область  \
0           True       ниже среднего                         iOS,eCommerce
1           True       выше среднего                        Веб-разработка
2          False             средний  Веб-разработка,Корпоративные системы
3          False       ниже среднего   Desktop Applications,Веб-разработка
4          False             средний   Desktop Applications,Веб-разработка
...          ...                 ...                                   ...
8699       False             средний          Android,Desktop Applications
8700       False       ниже среднего                             eCommerce
8701       False       выше среднего  Веб-разработка,Корпоративные системы
8702       False         продвинутый                       Финансы и банки
8703       False       выше среднего                        Веб-разработка

          Дата.заполнения                                         User.Agent  \
0     12/06/2017 12:38:08  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
1     12/06/2017 12:42:51  Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...
2     12/06/2017 13:02:47  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
3     12/06/2017 13:03:01  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...
4     12/06/2017 13:03:47  Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...
...                   ...                                                ...
8699  12/07/2017 15:45:24  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....
8700  12/07/2017 17:00:06  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
8701  12/07/2017 17:32:26  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...
8702  12/07/2017 18:14:59  Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...
8703  12/07/2017 21:28:57  Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...

       exp current_job_exp salary Валюта  cls
0      0.5             0.5    400    NaN   QA
1      0.0             0.0    430    NaN   QA
2      4.0             1.0   2500    NaN  DEV
3      5.0             4.0   2000    NaN  DEV
4     10.0             0.5   4500    NaN  DEV
...    ...             ...    ...    ...  ...
8699   1.0             0.0    700    NaN   QA
8700   0.5             0.5    400    NaN  NaN
8701   1.0             0.5    800    NaN  DEV
8702   6.0             4.0   2600    NaN   PM
8703   7.0             2.0   5000    NaN  DEV

[8704 rows x 25 columns]

#### Прочитайте полученную таблицу используя метод head

In [6]:
print(data.head())

   N                 Должность Язык.программирования Специализация  \
0  1        Junior QA engineer                   NaN     Manual QA
1  2        Junior QA engineer                   NaN     Manual QA
2  3         Software Engineer               C#/.NET           NaN
3  4         Software Engineer            JavaScript           NaN
4  5  Senior Software Engineer            JavaScript           NaN

  Общий.опыт.работы Опыт.работы.на.текущем.месте  Зарплата.в.месяц  \
0               0.5                          0.5               400
1  меньше 3 месяцев             меньше 3 месяцев               430
2                 4                            1              2500
3                 5                            4              2000
4    10 и более лет                          0.5              4500

   Изменение.зарплаты.за.12.месяцев    Город     Размер.компании  ...  \
0                                 0  Харьков       до 10 человек  ...
1                               130  Харьков  свыше 1000 человек  ...
2                               800     Киев     до 1000 человек  ...
3                               400   Одесса      до 200 человек  ...
4                               500   Другой       до 10 человек  ...

  Еще.студент Уровень.английского                    Предметная.область  \
0        True       ниже среднего                         iOS,eCommerce
1        True       выше среднего                        Веб-разработка
2       False             средний  Веб-разработка,Корпоративные системы
3       False       ниже среднего   Desktop Applications,Веб-разработка
4       False             средний   Desktop Applications,Веб-разработка

       Дата.заполнения                                         User.Agent  \
0  12/06/2017 12:38:08  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
1  12/06/2017 12:42:51  Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...
2  12/06/2017 13:02:47  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
3  12/06/2017 13:03:01  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...
4  12/06/2017 13:03:47  Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...

    exp current_job_exp salary Валюта  cls
0   0.5             0.5    400    NaN   QA
1   0.0             0.0    430    NaN   QA
2   4.0             1.0   2500    NaN  DEV
3   5.0             4.0   2000    NaN  DEV
4  10.0             0.5   4500    NaN  DEV

[5 rows x 25 columns]

#### Определите размер таблицы с помощью метода shape

In [7]:
data.shape

(8704, 25)

#### Определите типы всех столбцов с помощью dataframe.dtypes

In [8]:
print(data.dtypes)

N                                     int64
Должность                            object
Язык.программирования                object
Специализация                        object
Общий.опыт.работы                    object
Опыт.работы.на.текущем.месте         object
Зарплата.в.месяц                      int64
Изменение.зарплаты.за.12.месяцев      int64
Город                                object
Размер.компании                      object
Тип.компании                         object
Пол                                  object
Возраст                               int64
Образование                          object
Университет                          object
Еще.студент                            bool
Уровень.английского                  object
Предметная.область                   object
Дата.заполнения                      object
User.Agent                           object
exp                                 float64
current_job_exp                     float64
salary                                int64
Валюта                               object
cls                                  object
dtype: object

#### Посчитайте, какая доля пропусков содержится в каждой колонке (используйте методы isnull и sum)

In [9]:
print(data.isnull().sum())

N                                      0
Должность                              0
Язык.программирования               3850
Специализация                       7219
Общий.опыт.работы                      0
Опыт.работы.на.текущем.месте           0
Зарплата.в.месяц                       0
Изменение.зарплаты.за.12.месяцев       0
Город                                  0
Размер.компании                        0
Тип.компании                           0
Пол                                    0
Возраст                                0
Образование                            0
Университет                          358
Еще.студент                            0
Уровень.английского                    0
Предметная.область                   223
Дата.заполнения                        0
User.Agent                             0
exp                                    0
current_job_exp                        0
salary                                 0
Валюта                              8694
cls                                 1574
dtype: int64

#### Удалите все столбцы с пропусками, кроме столбца "Язык.программирования"

In [10]:
existing_data = data.dropna(axis=1)
lang = pd.DataFrame({"Язык.программирования": data["Язык.программирования"]})
new_data = pd.concat([existing_data, lang], axis=1)
print(new_data)

         N                 Должность Общий.опыт.работы  \
0        1        Junior QA engineer               0.5
1        2        Junior QA engineer  меньше 3 месяцев
2        3         Software Engineer                 4
3        4         Software Engineer                 5
4        5  Senior Software Engineer    10 и более лет
...    ...                       ...               ...
8699  8700               QA engineer                 1
8700  8701                 Marketing               0.5
8701  8702  Junior Software Engineer                 1
8702  8703                 Team lead                 6
8703  8704  Senior Software Engineer                 7

     Опыт.работы.на.текущем.месте  Зарплата.в.месяц  \
0                             0.5               400
1                меньше 3 месяцев               430
2                               1              2500
3                               4              2000
4                             0.5              4500
...                           ...               ...
8699             меньше 3 месяцев               700
8700                          0.5               400
8701                          0.5               800
8702                            4              2600
8703                            2              5000

      Изменение.зарплаты.за.12.месяцев    Город     Размер.компании  \
0                                    0  Харьков       до 10 человек
1                                  130  Харьков  свыше 1000 человек
2                                  800     Киев     до 1000 человек
3                                  400   Одесса      до 200 человек
4                                  500   Другой       до 10 человек
...                                ...      ...                 ...
8699                               700   Одесса       до 50 человек
8700                               120     Киев       до 50 человек
8701                               500    Львов       до 10 человек
8702                                 0    Днепр  свыше 1000 человек
8703                               800   Одесса     до 1000 человек

         Тип.компании      Пол  Возраст           Образование  Еще.студент  \
0      Аутсорсинговая  женский       20  Незаконченное высшее         True
1      Аутсорсинговая  женский       21  Незаконченное высшее         True
2      Аутсорсинговая  мужской       26                Высшее        False
3         Продуктовая  мужской       30               Среднее        False
4         Продуктовая  мужской       30    Техникум / Колледж        False
...               ...      ...      ...                   ...          ...
8699   Аутсорсинговая  мужской       23                Высшее        False
8700      Продуктовая  женский       22                Высшее        False
8701  Аутстаффинговая  мужской       30  Незаконченное высшее        False
8702   Аутсорсинговая  мужской       34                Высшее        False
8703      Продуктовая  мужской       28                Высшее        False

     Уровень.английского      Дата.заполнения  \
0          ниже среднего  12/06/2017 12:38:08
1          выше среднего  12/06/2017 12:42:51
2                средний  12/06/2017 13:02:47
3          ниже среднего  12/06/2017 13:03:01
4                средний  12/06/2017 13:03:47
...                  ...                  ...
8699             средний  12/07/2017 15:45:24
8700       ниже среднего  12/07/2017 17:00:06
8701       выше среднего  12/07/2017 17:32:26
8702         продвинутый  12/07/2017 18:14:59
8703       выше среднего  12/07/2017 21:28:57

                                             User.Agent   exp  \
0     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   0.5
1     Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...   0.0
2     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   4.0
3     Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   5.0
4     Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...  10.0
...                                                 ...   ...
8699  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....   1.0
8700  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   0.5
8701  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0
8702  Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...   6.0
8703  Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...   7.0

      current_job_exp  salary Язык.программирования
0                 0.5     400                   NaN
1                 0.0     430                   NaN
2                 1.0    2500               C#/.NET
3                 4.0    2000            JavaScript
4                 0.5    4500            JavaScript
...               ...     ...                   ...
8699              0.0     700                   NaN
8700              0.5     400                   NaN
8701              0.5     800            Ruby/Rails
8702              4.0    2600                   NaN
8703              2.0    5000                  Java

[8704 rows x 20 columns]

#### Опять посчитайте, какая доля пропусков содержится в каждой колонке и убедитесь, что остался только столбец "Язык.программирования"

In [11]:
print(new_data.isnull().sum())

N                                      0
Должность                              0
Общий.опыт.работы                      0
Опыт.работы.на.текущем.месте           0
Зарплата.в.месяц                       0
Изменение.зарплаты.за.12.месяцев       0
Город                                  0
Размер.компании                        0
Тип.компании                           0
Пол                                    0
Возраст                                0
Образование                            0
Еще.студент                            0
Уровень.английского                    0
Дата.заполнения                        0
User.Agent                             0
exp                                    0
current_job_exp                        0
salary                                 0
Язык.программирования               3850
dtype: int64

#### Удалите все строки в исходной таблице с помощью метода dropna

In [12]:
line_data = data.dropna()
print(line_data)

Empty DataFrame
Columns: [N, Должность, Язык.программирования, Специализация, Общий.опыт.работы, Опыт.работы.на.текущем.месте, Зарплата.в.месяц, Изменение.зарплаты.за.12.месяцев, Город, Размер.компании, Тип.компании, Пол, Возраст, Образование, Университет, Еще.студент, Уровень.английского, Предметная.область, Дата.заполнения, User.Agent, exp, current_job_exp, salary, Валюта, cls]
Index: []

[0 rows x 25 columns]

#### Определите новый размер таблицы с помощью метода shape

In [13]:
print(line_data.shape)

(0, 25)

#### Создайте новую таблицу python_data в которой будут только строки со специалистами указавшими язык программирования Python

In [14]:
python_data = data[data['Язык.программирования'] == 'Python']
print(python_data)

         N                 Должность Язык.программирования Специализация  \
12      13         Software Engineer                Python           NaN
68      69         Software Engineer                Python           NaN
87      88  Junior Software Engineer                Python           NaN
114    115  Junior Software Engineer                Python           NaN
143    144  Junior Software Engineer                Python           NaN
...    ...                       ...                   ...           ...
8546  8547         Software Engineer                Python           NaN
8625  8626         Software Engineer                Python           NaN
8635  8636  Senior Software Engineer                Python           NaN
8673  8674  Junior Software Engineer                Python           NaN
8695  8696         Software Engineer                Python           NaN

     Общий.опыт.работы Опыт.работы.на.текущем.месте  Зарплата.в.месяц  \
12                   1             меньше 3 месяцев               800
68                 1.5                          0.5               900
87                 0.5                          0.5               600
114                1.5                          0.5               685
143                  1                            1               750
...                ...                          ...               ...
8546                 5                            1              2000
8625                 4                            1              1750
8635    10 и более лет             меньше 3 месяцев              4000
8673               0.5                          0.5               350
8695                 1                          0.5              1500

      Изменение.зарплаты.за.12.месяцев      Город     Размер.компании  ...  \
12                                 200       Киев       до 50 человек  ...
68                                 900       Киев       до 10 человек  ...
87                                   0       Киев       до 10 человек  ...
114                                250       Киев     до 1000 человек  ...
143                                250       Киев       до 10 человек  ...
...                                ...        ...                 ...  ...
8546                               800  Запорожье       до 50 человек  ...
8625                                 0       Киев  свыше 1000 человек  ...
8635                              1300   Удаленно       до 10 человек  ...
8673                                50       Киев       до 50 человек  ...
8695                              1000       Киев       до 10 человек  ...

     Еще.студент Уровень.английского         Предметная.область  \
12         False       ниже среднего      Веб-разработка,Другое
68          True       выше среднего             Веб-разработка
87          True       выше среднего   Веб-разработка,eCommerce
114        False             средний                     Другое
143         True       выше среднего             Веб-разработка
...          ...                 ...                        ...
8546       False             средний             Веб-разработка
8625       False             средний             Веб-разработка
8635       False       выше среднего             Веб-разработка
8673       False             средний             Веб-разработка
8695       False             средний  Финансы и банки,eCommerce

          Дата.заполнения                                         User.Agent  \
12    12/06/2017 13:05:54  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...
68    12/06/2017 13:11:17  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
87    12/06/2017 13:12:25  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...
114   12/06/2017 13:14:52  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...
143   12/06/2017 13:19:10  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...
...                   ...                                                ...
8546  10/07/2017 14:11:26  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5...
8625  11/07/2017 16:15:40  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....
8635  11/07/2017 17:51:36  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...
8673  12/07/2017 09:37:16  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....
8695  12/07/2017 14:39:21  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...

       exp current_job_exp salary Валюта  cls
12     1.0             0.0    800    NaN  DEV
68     1.5             0.5    900    NaN  DEV
87     0.5             0.5    600    NaN  DEV
114    1.5             0.5    685    NaN  DEV
143    1.0             1.0    750    NaN  DEV
...    ...             ...    ...    ...  ...
8546   5.0             1.0   2000    NaN  DEV
8625   4.0             1.0   1750    NaN  DEV
8635  10.0             0.0   4000    NaN  DEV
8673   0.5             0.5    350    NaN  DEV
8695   1.0             0.5   1500    NaN  DEV

[207 rows x 25 columns]

#### Определите размер таблицы python_data с помощью метода shape

In [15]:
print(python_data.shape)

(207, 25)

#### Используя метод groupby выполните группировку по столбцу "Должность"

In [98]:
print(python_data.groupby(["Должность"]).mean())

                                    N  Зарплата.в.месяц  \
Должность
Junior Software Engineer  3559.063492        560.841270
Senior Software Engineer  4781.870968       3387.096774
Software Engineer         3668.840000       1799.070000
System Architect          6989.000000       4000.000000
Technical Lead            5370.181818       3165.909091

                          Изменение.зарплаты.за.12.месяцев    Возраст  \
Должность
Junior Software Engineer                        181.031746  24.174603
Senior Software Engineer                        431.612903  29.064516
Software Engineer                               479.830000  26.630000
System Architect                                  0.000000  35.500000
Technical Lead                                  455.000000  30.090909

                          Еще.студент        exp  current_job_exp       salary
Должность
Junior Software Engineer     0.380952   0.876984         0.523810   560.841270
Senior Software Engineer     0.032258   6.677419         1.556452  3387.096774
Software Engineer            0.130000   3.180000         1.127500  1799.070000
System Architect             0.000000  10.000000         1.125000  4000.000000
Technical Lead               0.000000   7.090909         3.386364  3165.909091

#### Создайте новый DataFrame, где для сгруппированных данных по столбцу "Должность", выполните агрегацию данных с помощью метода agg и найдите минимальное и максимальное значение в столбце "Зарплата.в.месяц"

In [95]:
salary_data = python_data.groupby("Должность").agg({"Зарплата.в.месяц": ['min', 'max']})
print(salary_data)

                         Зарплата.в.месяц
                                      min   max
Должность
Junior Software Engineer              100  1250
Senior Software Engineer             1300  9200
Software Engineer                     500  5400
System Architect                     3000  5000
Technical Lead                       1425  6200

#### Создайте функцию fill_avg_salary которая будет возвращать среднее значение заработной платы в месяц. Используйте ее для метода apply и создайте новый столбик "avg"

In [82]:
def fill_avg_salary(x):
    x = x["Зарплата.в.месяц"].mean()
    return x

In [83]:
salary_data['avg'] = python_data.groupby(["Должность"]).apply(fill_avg_salary)
print(salary_data)

                         Зарплата.в.месяц                avg
                                      min   max
Должность
Junior Software Engineer              100  1250   560.841270
Senior Software Engineer             1300  9200  3387.096774
Software Engineer                     500  5400  1799.070000
System Architect                     3000  5000  4000.000000
Technical Lead                       1425  6200  3165.909091

#### Создайте описательную статистику с помощью метода describe для нового столбца.

In [86]:
print(salary_data['avg'].describe())

count       5.000000
mean     2582.583427
std      1387.255829
min       560.841270
25%      1799.070000
50%      3165.909091
75%      3387.096774
max      4000.000000
Name: avg, dtype: float64

#### Сохраните полученную таблицу в CSV файл

In [99]:
salary_data.to_csv("new_file.csv")

In [100]:
last_data = pd.read_csv("new_file.csv")
print(last_data)

                 Unnamed: 0 Зарплата.в.месяц Зарплата.в.месяц.1
0                       NaN              min                max
1                 Должность              NaN                NaN
2  Junior Software Engineer              100               1250
3  Senior Software Engineer             1300               9200
4         Software Engineer              500               5400
5          System Architect             3000               5000
6            Technical Lead             1425               6200